---
import { getImage } from 'astro:assets';
import '@fontsource-variable/rubik';
import '@/styles/index.scss';

import config from '@/config';

import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';

import imgOG from '@/assets/the-mini-ramp-foundation.png';

const ogImageSrc = await getImage({
	src: imgOG,
	format: 'jpeg',
});
---
<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={Astro.generator} />

<title>{config.title}</title>

<meta name="title" content={config.title}>
<meta name="description" content={config.description}>
<meta name="keywords" content="skateboarding, miniramp, mini ramp, foundation, charity, skate park, skate, chad caruso, skate across america, half pipe, quarter pipe, skateboard, ">
<meta name="robots" content="index, follow">
<meta name="language" content="English">

<meta property="og:title" content={config.title}>
<meta property="og:site_name" content={config.title}>
<meta property="og:url" content={config.url}>
<meta property="og:description" content={config.description}>
<meta property="og:type" content="website">
<meta property="og:image" content={ogImageSrc.src}>
<meta property="twitter:image" content={ogImageSrc.src}>
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:description" content={config.description}>
<meta property="twitter:title" content={config.title}>
<meta property="twitter:url" content={config.url}>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color={config.themeColor}>
<meta name="msapplication-TileColor" content={config.themeColor}>
<meta name="theme-color" content={config.themeColor}>
<link type="text/plain" rel="author" href="/humans.txt" />
<meta name="format-detection" content="telephone=no" />
</head>
<body>

	<Header links={config.navLinks} />

	<slot />

	<Footer links={config.navLinks} />

</body>
</html>
